<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="5" parallel="tests" verbose="4">
	<listeners>
		<listener class-name="Listeners.ExtentListener"></listener>
	</listeners>

	<test name="HomePageTest">
		<parameter name="browser" value="chromium" />
		<classes>
			<class name="SauceDemo.LoginPageTest" />
		</classes>
	</test>
	

	<test name="LoginPageTest">
		<parameter name="browser" value="chromium" />
		<classes>
			<class name="SauceDemo.HomePageTest" />
		</classes>
	</test>

</suite> <!-- Suite -->